figure {
  margin: 0 0 var(--bulma-content-block-margin-bottom) 0;
}
img {
  width: 100% !important;
  height: auto;
}
iframe {
  width: 100% !important;
  height: 350px;
}
table {
 width: 100%;
}
.fit-cover {
  object-fit: cover;
}

.navbar-burger:active, .navbar-burger:hover {
  background-color: unset;
}